
.contact-wrap {
    -webkit-box-shadow: 46px 10px 50px 20px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 46px 10px 50px 20pxrgba(0, 0, 0, 0.12);
    box-shadow: 46px 10px 50px 20px rgba(0, 0, 0, 0.12);}
    
   
  
    .color{
  
  background-color:#ff8c007a;
  padding: 1%;
      font-size: 16px;
      font-weight: 500;
    }
  
  
  
  .display{
     margin: 0px;
  
  
  }
  .edit{
    font-size: 12px;
    margin: 3%;
    padding: 2%;
    color: darkgrey;
  }
  
  .changes{
    border-radius: 10px;
  }
  .conttable{
    margin-top: 3%;
    
  }
  
  .detable {
    width: 90%;
    margin-bottom: 1rem;
    margin-left: 5%;
    background-color: transparent;
    
  }
  
  
  .btn1{
    border-radius: 5px;
    padding: 0px 18px;
    /* text-align: center; */
    font-size: 12px;
    }
  
  .mat-raised-button{
  line-height: 17px;
  }
  
  .custom {
  width: 78px !important;
  text-align: start;
  
  font-size: 11px;
  }
  
  .btn1{
  background-color: #ffce09;
  }
  .btn2{
  background-color: chocolate;
  }
  .btn3{
  background-color: rgb(171, 145, 224);
  }
  .btn4{
  background-color: rgb(94, 214, 146);
  }   
  .btn5{
  background-color: steelblue;
  }
  
  .search{
    width: 60%;
    margin-left: 40%;
  }
  
  